<table class="table">
	<tr>
		<th>Ime</th>
		<th>Prezime</th>
		<th>Godiste</th>
		<th>Vrsta pregleda</th>
		<th>Vrijeme</th>
		<th>Sestra</th>
		<% if search %>
			<th>Doktor</th>
			<th>Datum</th>
		<% end %>
		<th class="hide_on_print">Izmjeni</th>
		<th class="hide_on_print">Obrisi</th>
	</tr>
	<% reservations.each do |reservation| %>
		<% if reservation[:reservation].nil? %>
			<% unless search %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="hide_on_print"></td>
				<td><%= reservation[:examination_time].examination_time %></td>
				<td class="hide_on_print"></td>
				<td class="hide_on_print"><a data-toggle="modal" data-target="#myModal" href="<%=new_nurse_reservation_path(@nurse.id, {:doctor_id => doctor_id, :selected_date => selected_date, :examination_time => reservation[:examination_time].id, :shift => shift})%>">Rezervisi</a></td>
				<td></td>
			</tr>
			<% end %>
		<% else %>
			<% if reservation[:reservation].reservation_type == Examination.pause.id %>
			<tr style="background:#be2e2e;">
			<% elsif reservation[:reservation].examination_id == Examination.cito.id %>
			<tr style="background:#dad841;">
			<% else %>
			<tr>
			<% end %>
				<td><%= reservation[:reservation].first_name %></td>
				<td><%= reservation[:reservation].last_name %></td>
				<td><%= reservation[:reservation].birthday %></td>
				<td><%= reservation[:reservation].examination.nil? ? '' : reservation[:reservation].examination.name %></td>
				<td><%= reservation[:examination_time].examination_time %></td>
				<td><%= reservation[:reservation].nurse.full_name%></td>
				<% if search %>
					<td><%= reservation[:reservation].doctor.full_name %></td>
					<td><%= reservation[:reservation].reservation_date %></td>
				<% end %>
				<% if @nurse.can_change_reservation?(reservation[:reservation]) %>
					<td><a class="hide_on_print" data-toggle="modal" data-target="#myModal" href="<%=edit_nurse_reservation_path(@nurse.id, reservation[:reservation].id, :shift => shift)%>">Izmjeni</a></td>
					<td><%= link_to '', nurse_reservation_path(@nurse.id, reservation[:reservation].id, {:shift => shift, :doctor_id => doctor_id, :selected_date => selected_date}), :method => :delete, :confirm => 'Da li ste sigurni?', :class=> 'hide_on_print icon-remove-sign' %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>
<script>
	$("#reservation_path").attr("href", "<%=new_nurse_reservation_path(@nurse.id, {:doctor_id => doctor_id, :selected_date => selected_date, :shift => shift}).html_safe%>");
</script>