<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   	<h3 id="myModalLabel">Izmjeni postojeci termin</h3>
</div>
<div class="modal-body">
	<%= form_tag nurse_reservation_path(@nurse.id), :method => 'PUT', :class => 'validate' do%>
		<input type="text" name="first_name" id="first_name" placeholder="Ime" value="<%=@reservation.first_name%>"/>
		<input type="text" name="last_name" id="last_name" placeholder="Prezime" value="<%=@reservation.last_name%>"/>
		<input type="text" name="birthday" id="birthday" placeholder="Godiste" value="<%=@reservation.birthday%>"/>
		<input type="text" name="phone" id="phone" placeholder="Telefon" value="<%=@reservation.phone%>"/>
		<input type="text" name="reservation_date_1" placeholder="Datum rezervacije" value="<%=@reservation.reservation_date%>" disabled />
		<input type="hidden" name="reservation_date" placeholder="Datum rezervacije" value="<%=@reservation.reservation_date%>" />
		<input type="hidden" name="shift" value="<%=params[:shift]%>" />
		<select name="doctor_id">
			<% @doctors.each do |doctor| %>
				<option value="<%=doctor.id%>" <%="selected" if @reservation.doctor_id == doctor.id%>><%=doctor.full_name%></option>
			<% end %>
		</select>
		<select id="examination_id" name="examination_id">
			<option value="-1">Izaberi vrstu pregleda</option>
			<% @examinations.each do |examination| %>
				<option value="<%=examination.id%>" <%="selected" if examination.id == @reservation.examination_id%>><%=examination.name%></option>
			<% end %>
		</select>
		<select name="examination_time_id">
			<option value="-1">Izaberi termin pregleda</option>
			<% @examination_times.each do |et| %>
				<option value="<%=et.id%>" <%="selected" if et.id == @reservation.examination_time_id%>><%=et.examination_time%></option>
			<% end %>
		</select>
		<input type="hidden" name="type" value="<%=@reservation.reservation_type%>" />
		<input class="btn btn-primary" type="submit" value="Izmjeni" />
	<% end %>
</div>
<script>fakeDocumentReady();</script>