<% if @type == Examination.pause.id %>
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	   	<h3 id="myModalLabel">Rezervisi pauzu za doktora</h3>
	</div>
	<div class="modal-body">
		<%= form_tag nurse_reservations_path(@nurse.id), :method => 'POST', :class => 'validate', :id => 'asd' do%>
			<select name="doctor_id" disabled>
				<% @doctors.each do |doctor| %>
					<option value="<%=doctor.id%>" <%="selected" if @doctor_id.to_i == doctor.id.to_i%>><%=doctor.full_name%></option>
				<% end %>
			</select>
			<input name="doctor_id" type="hidden" value="<%=@doctor_id%>" />
			<input name="examination_id" value="<%=@examination.id%>" type="hidden" />
			<input name="type" value="<%=Examination.pause.id%>" type="hidden" />
			<select name="examination_time_id">
				<option value="-1">Izaberi termin pauze</option>
				<% @examination_times.each do |et| %>
					<option value="<%=et.id%>" <%="selected" if @examination_time.to_i == et.id%>><%=et.examination_time%></option>
				<% end %>
			</select>
			<input type="text" name="reservation_date_1" placeholder="Datum rezervacije" value="<%=@reservation_date%>" disabled />
			<input type="hidden" name="reservation_date" placeholder="Datum rezervacije" value="<%=@reservation_date%>" />
			<input class="btn btn-primary" type="submit" value="Kreiraj" />
		<% end %>
	</div>
<% else %>
	<div class="modal-header">
	   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	   	<h3 id="myModalLabel">Rezervisi novi termin</h3>
	</div>
	<div class="modal-body">
		<%= form_tag nurse_reservations_path(@nurse.id), :method => 'POST', :class => "validate", :id => 'asd' do%>
			<input type="text" id="first_name" name="first_name" placeholder="Ime" />
			<input type="text" id="last_name" name="last_name" placeholder="Prezime" />
			<input type="text" name="birthday" id="birthday" placeholder="Godiste" />
			<input type="text" name="phone" id="phone" placeholder="Telefon" />
			<input type="text" name="reservation_date_1" placeholder="Datum rezervacije" value="<%=@reservation_date%>" disabled />
			<input type="hidden" name="reservation_date" placeholder="Datum rezervacije" value="<%=@reservation_date%>" />
			<select name="doctor_id" disabled>
				<% @doctors.each do |doctor| %>
					<option value="<%=doctor.id%>" <%="selected" if @doctor_id.to_i == doctor.id.to_i%>><%=doctor.full_name%></option>
				<% end %>
			</select>
			<input name="doctor_id" type="hidden" value="<%=@doctor_id%>" />
			<input name="shift" type="hidden" value="<%=params[:shift]%>" />
			<select name="examination_id">
				<option value="-1">Izaberi vrstu pregleda</option>
				<% @examinations.each do |examination| %>
					<% unless examination.id == Examination.pause.id %>
						<option value="<%=examination.id%>"><%=examination.name%></option>
					<% end %>
				<% end %>
			</select>
			<select name="examination_time_id">
				<option value="-1">Izaberi termin pregleda</option>
				<% @examination_times.each do |et| %>
					<option value="<%=et.id%>" <%="selected" if @examination_time.to_i == et.id%>><%=et.examination_time%></option>
				<% end %>
			</select>
			<input class="btn btn-primary" type="submit" value="Kreiraj" />
		<% end %>
	</div>
<% end %>
<script>fakeDocumentReady();</script>