<h4 class="hide_on_print">Lista rezervacija</h4>
<h4 class="show_on_print"><%=@doctor_name%></h4>
<table class="table">
	<tr>
		<th>Ime</th>
		<th>Prezime</th>
		<th>Godiste</th>
		<th>Vrsta pregleda</th>
		<th>Doktor</th>
		<th>Vrijeme</th>
		<th>Sestra</th>
		<th class="hide_on_print">Izmjeni</th>
		<th class="hide_on_print">Obrisi</th>
	</tr>
	<% @reservations.each do |reservation| %>
		<% if reservation[:reservation].blank? %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><%= reservation[:examination_time].examination_time %></td>
				<td class="hide_on_print"></td>
				<td class="hide_on_print"><a data-toggle="modal" data-target="#myModal" href="<%=new_nurse_reservation_path(@nurse.id, {:doctor_id => @doctor_id, :selected_date => @selected_date, :examination_time => reservation[:examination_time].id})%>">Rezervisi</a></td>
				<td></td>
			</tr>
		<% else %>
			<% if reservation[:reservation].reservation_type == Examination.pause.id %>
			<tr style="background:#be2e2e;">
			<% elsif reservation[:reservation].examination_id == Examination.cito.id %>
			<tr style="background:#dad841;">
			<% else %>
			<tr>
			<% end %>
				<td><%= reservation[:reservation].first_name %></td>
				<td><%= reservation[:reservation].last_name %></td>
				<td><%= reservation[:reservation].birthday %></td>
				<td><%= reservation[:reservation].examination.name %></td>
				<td><%= reservation[:reservation].doctor.full_name %></td>
				<td><%= reservation[:examination_time].examination_time %></td>
				<td><%= reservation[:reservation].nurse.full_name%></td>
				<% if @nurse.can_change_reservation?(reservation[:reservation]) %>
					<td><a class="hide_on_print" data-toggle="modal" data-target="#myModal" href="<%=edit_nurse_reservation_path(@nurse.id, reservation[:reservation].id)%>">Izmjeni</a></td>
					<td><a class="hide_on_print" href="<%=nurse_reservation_path(@nurse.id, reservation[:reservation].id)%>" data-method="DELETE"><span class="icon-remove-sign"></span></a></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>
<script>
	$("#reservation_path").attr("href", "<%=new_nurse_reservation_path(@nurse.id, {:doctor_id => @doctor_id, :selected_date => @selected_date}).html_safe%>");
</script>